$primary: #1e57a8;
$accent: #f7f4ea;
$fontcol: #000000;

#navbar {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #{$primary};

  h1 {
    color: $accent;
  }

  img {
    width: 54px;
    margin-bottom: -11px;
    margin-left: -15px;
  }
}

body {
  font-family: "Courier New", Courier, monospace;
  color: $fontcol;
  text-align: center;
  margin: 0;
}

body > h1 {
  margin-top: 3.5%;
}

h1,
h2 {
  color: $primary;
}

h3 {
  color: darken($primary, 10%);
  margin-left: 2em;
}

#menu {
  border: 2px solid $primary;
  width: 25%;
  padding: 35px 0;
  margin: 3% auto;

  h2 {
    margin: 0;
  }

  ul {
    margin-top: 5%;
    display: inline-block;
    text-align: left;
    font-weight: bold;
    color: #f46036;
  }

  ol {
    font-weight: 400;
  }
}

a:link,
a:visited {
  color: $primary;
}

.flexcontainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3em;

  p {
    text-align: left;
    margin-left: 4em;
  }
}

p {
  font-family: sans-serif;
}
